.grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    background-color: #000;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

.btn {
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    border: 5px solid #000;
    outline: none;
    border-radius: 15px;
    font-size: 20px;
    width: 50%;
    cursor: pointer;
    transition: all 1s;
}

.btn:hover {
    border: 5px solid #fff;
    background-color: #000;
    color: #fff;
}

.grid-item:nth-child(3n) {
    margin-right: 5px;
}

.grid-item:nth-child(9n) {
    margin-right: 0px;
}

.grid-item:nth-child(n+19):nth-child(-n+27) {
    margin-bottom: 5px;
}

.grid-item:nth-child(n+46):nth-child(-n+54) {
    margin-bottom: 5px;
}