<div class="title">
    <h2 style="font-size: 40px; padding: 30px; color:#0984e3 ;"> SUDOKU SOLVER</h2>
</div>

<div class="container">
    <div class="input-cont">

        <button class="cargar">cargar
                <input name="inputFile" [(ngModel)]="inputFile" required id="file" type="file" accept=".txt" [ngClass]="ok" (change)="onSelectFile($event)">
            </button>
        <p class="fileMatrix">{{auxInputFile}}</p>



        <div class="pre-sudoku">
            <h4 style="font-size: 20px;">Sudoku cargado</h4>
            <app-sudoku [showButton]="showButton" [array]='initialMatrix'></app-sudoku>
        </div>
        <ul *ngIf="isErrors">
            <h2>Errores </h2>
            <li style="color: red;" *ngFor="let item of arrayErrors">
                {{item}}
            </li>

        </ul>



    </div>
    <div class="sudoku">
        <h2 style="font-size: 30px;">Solución </h2>
        <app-sudoku [showButton]="showButton" [array]='matrix'></app-sudoku>
    </div>


</div>

<footer style="text-align: center; font-size: 20px;">
    <ul>
        <li>
            <strong>

                Andrés Felipe Chaparro | Fabian Alejandro Cristancho | Oscar Esteban Quiroz</strong>

        </li>
    </ul>
</footer>