<div>
    <h1> Sudoku Solver</h1>
</div>

<div class="container">
    <div class="input-cont">
        <ul>
            <li>
                Fabian Cristancho
            </li>
            <li>
                Andres Chaparro
            </li>
            <li>
                Oscar Quiroz
            </li>
        </ul>
        <ul *ngIf="isErrors">
            <h2>Errores </h2>
            <li style="color: red;" *ngFor="let item of arrayErrors">
                {{item}}
            </li>

        </ul>
        <input #file required id="file" type="file" accept=".txt" [ngClass]="ok" (change)="onSelectFile($event)">
        <div class="pre-sudoku">
            <app-sudoku [showButton]="showButton" [array]='initialMatrix'></app-sudoku>
        </div>
    </div>
    <div class="sudoku">
        <h2>Solucion !</h2>
        <app-sudoku [showButton]="!showButton" [array]='matrix'></app-sudoku>
    </div>
</div>